.principal{
    width: 100%;
    height: 100%;
    background-color: azure;
}
.topbar{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}
.botao{
    color: white;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    border-radius:10px;
    background-color: cornflowerblue;
}
.botao:hover{
    color: white;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    border-radius:10px;
    background-color: cornflowerblue;
}

body{
    margin: 0;
}